/* <- ================ INTO SECTION ============ -> */
.landing__page {
	padding-block: 6rem 4rem;
}

.landing__page-intro__content {
	display: grid;
	row-gap: 2rem;
}

.landing__page-intro__content .section__title {
	font-size: 1.5rem;
	text-align: start;
	width: 80%;
}

.landing__page-intro {
	font-size: var(--large-font-size);
	min-height: 9rem;
}

.landing__page-intro span {
	display: inline-block;
	margin-top: 0.2rem;
	font-size: var(--large-font-size);
	font-weight: var(--font-semi-bold);
	color: var(--first-color);
	font-family: var(--secondary-style);
	border-bottom: 6px solid var(--first-color);
}

.landing__page-intro__content .call-to-actions__btns {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 0.5rem;
	row-gap: 1rem;
}

.landing__page-intro__content .call-to-actions__btns .btn {
	padding: 0.25rem 1rem;
	font-size: var(--normal-font-size);
}

.landing__page-intro__content .call-to-actions__btns .btn:nth-child(1) {
	background-color: white;
	color: var(--first-color);
}

.landing__page-intro__content .call-to-actions__btns .btn:nth-child(1):hover {
	color: white;
	background-color: var(--first-color);
}

.payplus__logo-container {
	padding: 1rem 0.7rem;
	border-radius: 6px;
	border: 1px solid rgb(197, 190, 190);
	background-color: white;
}

.payplus__logo-container img {
	border: 1px solid rgb(197, 190, 190);
	border-radius: 6px;
}

.landing__page-counter {
	position: relative;
	margin-top: -3rem;
	background-image: linear-gradient(90deg, #11ada8, #0da6bd);
	z-index: -1;
	margin-inline: -1rem;
}

.into-svg {
	background-color: white;
	padding-inline: -1.5rem;
}

.counter__objects {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-inline: 3rem;
}

.counter__objects div {
	margin-bottom: 2rem;
	text-align: center;
	font-family: var(--secondary-alt-style);
	color: white;
}

.counter__objects div p:nth-child(2) {
	font-size: var(--normal-font-size);
	margin-top: -1rem;
}

.landing__page-trusted-companies {
	padding-block: 1rem;
	margin-inline: -1rem;
	background-color: #def5f3;
	padding-inline: 1.5rem;
}

.companies__container {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.companies__container img {
	width: 4rem;
	justify-self: center;
}

/* <- ================ WHY US ============ -> */
.why__us {
	margin-bottom: 5rem;
}

.why__us-reasons {
	display: grid;
	row-gap: 2rem;
	margin-top: 3rem;
}

.reason {
	padding: 1.5rem 1rem;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	box-shadow: 0px 1px 20px rgba(219, 219, 219, 0.99);
}

.reason img,
.reason svg {
	width: 5rem;
	fill: var(--first-color);
}

.reason p:nth-child(2) {
	font-size: var(--large-font-size);
	font-family: var(--secondary-style);
	font-weight: var(--font-semi-bold);
	margin-bottom: 0.5rem;
}

/* <- ================ Products ============ -> */
.large-screen-product,
.product {
	display: flex;
	flex-direction: column;
	margin-bottom: 3rem;
}

.large-screen-products,
.large-screen-product {
	display: none;
}

.large-screen-product p:nth-child(1),
.product p:nth-child(1) {
	margin-inline: auto;
	position: relative;
	font-family: var(--secondary-style);
	font-size: var(--large-font-size);
	letter-spacing: 2px;
	margin-bottom: 2rem;
}

.large-screen-product p:nth-child(1)::after,
.product p:nth-child(1)::after {
	content: "";
	position: absolute;
	bottom: -10px;
	left: 0rem;
	right: 0;
	height: 3px;
	background-color: var(--second-color);
}

.product__image {
	margin-bottom: 1.5rem;
	position: relative;
	height: 21rem;
	filter: drop-shadow(0 5px 16px hsla(0, 0%, 0%, 0.4));
}

.product__image img {
	border-radius: 8px;
	position: absolute;
}

.POS-second-image {
	top: 8.5rem !important;
	right: 0rem !important;
	width: 20rem !important;
}

.first-image {
	position: relative;
}

.second-image-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.second-image {
	top: 4rem;
	right: 0rem;
	width: 12rem;
}

.product__content ul li {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	margin-top: 1rem;
}

.product__content ul li div {
	background-color: var(--first-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 0.25rem;
	opacity: 0.8;
}

.product__content ul li svg {
	width: 1rem;
	fill: white;
}

.product__content .btn {
	margin-block: 3rem 1rem;
}

/* <- ================ PRICING ============ -> */
.pricing__wrapper {
	display: grid;
	row-gap: 1.5rem;
}

.single-price {
	background-color: var(--first-color);
	margin-top: 1rem;
	box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
	text-align: center;
	transition: 0.9s;
	color: white;
}

.price {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	border: 2px solid var(--second-color);
	margin-inline: auto;
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.deals {
	margin-top: 3rem;
}

.single-price h1 {
	font-size: var(--larger-font-size);
	line-height: 3;
	font-weight: var(--font-bold);
	font-family: var(--secondary-alt-style);
	text-transform: uppercase;
}

.price h2 {
	font-size: 1.5rem;
}

.deals h4 {
	font: 14px;
	text-align: center;
	margin-bottom: 0.5rem;
	line-height: 1;
}

.single-price:hover {
	background: var(--second-color);
	color: black;
	box-sizing: 0 0 15px rgba(0, 0, 0, 1);
	transform: scale(1.1);
	z-index: 1;
	border-radius: 25px;
}

.single-price:hover .price {
	border-color: var(--first-color);
}

.single-price .btn {
	background-color: white;
	color: var(--first-color);
	margin-block: 1.5rem;
}

.single-price:hover .btn {
	background-color: var(--first-color);
	color: white;
}

/* <- ================ EXTRA INFO ============ -> */
.extra__info {
	margin-block: 4rem;
	padding-block: 7rem;
	background-color: #003049;
	color: white;
	text-align: center;
}

.extra__info .btn {
	margin-block: 3rem 0;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 530px) and (max-width: 720px) {
	.landing__page-intro__content {
		row-gap: 4rem;
	}
	.landing__page-intro__content .section__title {
		margin-top: 2rem;
		font-size: 2rem;
		text-align: start;
		font-weight: 900;
		width: 90%;
	}

	.landing__page-intro {
		width: 80%;
		font-size: var(--large-font-size);
		min-height: 9rem;
	}

	.landing__page-intro__content .call-to-actions__btns .btn {
		padding: 0.5rem 1.25rem;
		font-size: var(--large-font-size);
	}

	.landing__page-counter {
		margin-top: -5rem;
		margin-inline: -1.5rem;
	}

	.counter__objects div p:nth-child(2) {
		font-size: 1rem;
	}

	.landing__page-trusted-companies {
		margin-inline: -1.5rem;
		padding-inline: 2rem;
	}

	.companies__container img {
		width: 4.5rem;
	}

	.why__us {
		padding-inline: 5rem;
	}

	.why__us-reasons {
		row-gap: 3rem;
	}

	.product__image {
		padding-inline: 3rem;
	}

	.first-image {
		width: 28rem;
	}

	.second-image {
		top: 5rem;
		right: 4rem;
		width: 14rem;
	}

	.POS-second-image {
		top: 8.5rem !important;
		width: 20rem !important;
	}

	.pricing {
		padding-inline: 3rem;
	}

	.pricing__wrapper {
		row-gap: 2.5rem;
	}
}

/* For medium devices */
@media screen and (min-width: 720px) and (max-width: 1024px) {
	.landing__page.section {
		padding-inline: 1.5rem;
	}

	.landing__page-intro__content {
		grid-template-columns: 1fr 1fr;
		column-gap: 1.5rem;
	}

	.landing__page-intro__content .section__title {
		font-size: 1.5rem;
		text-align: start;
		width: 100%;
	}

	.landing__page-intro {
		font-size: var(--large-font-size);
		min-height: 9rem;
		width: 100%;
	}

	.landing__page-intro span {
		font-size: 1.25rem;
		border-bottom: 4px solid var(--first-color);
	}

	.landing__page-intro__content .call-to-actions__btns .btn {
		padding: 0.5rem 1.25rem;
		font-size: 1rem;
	}

	.payplus__logo-container {
		margin-top: 1rem;
	}

	.landing__page-counter {
		margin-top: -6rem;
		margin-inline: -1.5rem;
	}

	.counter__objects div p:nth-child(1) {
		font-size: 3rem;
	}

	.counter__objects div p:nth-child(2) {
		font-size: 1.25rem;
	}

	.landing__page-trusted-companies {
		margin-inline: -1.5rem;
		padding-inline: 4rem;
	}

	.companies__container img {
		width: 4.5rem;
	}

	.why__us {
		padding-inline: 3rem;
	}

	.why__us-reasons {
		column-gap: 2rem;
		row-gap: 3rem;
		grid-template-columns: 1fr 1fr;
	}

	/* .large-screen-product {
		display: block;
	} */

	/* .product-details-cont {
		display: grid;
		grid-template-columns: 1fr 1fr;
	} */

	.product__image {
		padding-inline: 5rem;
	}

	.first-image {
		width: 28rem;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
	}

	.second-image {
		top: 5rem;
		right: 5rem;
		width: 14rem;
	}

	.POS-second-image {
		top: 8.5rem !important;
		width: 20rem !important;
		right: 5rem !important;
	}

	.pricing {
		padding-inline: 3rem;
	}

	.pricing__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
	}

	.single-price:nth-child(2) {
		transform: scale(1.05);
	}

	.extra__info p:nth-child(2) {
		width: 70%;
		margin-inline: auto;
	}
}

/* For large devices */
@media screen and (min-width: 1024px) {
	.landing__page.section {
		padding-inline: 3rem;
	}

	.landing__page-intro__content {
		grid-template-columns: 1fr 1fr;
		column-gap: 2.5rem;
	}

	.landing__page-intro__content .section__title {
		font-size: 2rem;
		text-align: start;
		width: 100%;
	}

	.landing__page-intro {
		font-size: var(--large-font-size);
		min-height: 8rem;
		width: 100%;
	}

	.landing__page-intro span {
		font-size: 1.5rem;
		border-bottom: 4px solid var(--first-color);
	}

	.landing__page-intro__content .call-to-actions__btns .btn {
		padding: 0.5rem 1.25rem;
		font-size: 1.25rem;
	}

	.payplus__logo-container {
		margin-top: 3.5rem;
	}

	.landing__page-counter {
		margin-top: -9rem;
		margin-inline: -3rem;
	}

	.counter__objects {
		display: flex;
		justify-content: space-between;
	}

	.counter__objects div p:nth-child(1) {
		font-size: 3rem;
	}

	.counter__objects div p:nth-child(2) {
		font-size: 1.25rem;
	}

	.landing__page-trusted-companies {
		margin-inline: -3rem;
		padding-inline: 4rem;
		padding-block: 2rem;
	}

	.companies__container {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	.companies__container img {
		justify-self: center;
		align-self: center;
		width: 4.5rem;
	}

	.why__us {
		padding-inline: 4.5rem;
	}

	.why__us-reasons {
		column-gap: 2rem;
		row-gap: 3rem;
		grid-template-columns: 1fr 1fr;
	}

	.large-screen-products {
		width: 70%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-inline: auto;
		margin-block: 3rem 3rem;
		position: relative;
	}

	.nav-line {
		position: absolute;
		bottom: -1rem;
		left: 0;
		right: 0;
		height: 1px;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.2);
	}

	.nav-line::after {
		content: "";
		position: absolute;
		height: 2px;
		top: -1px;
		width: 33%;
		background-color: var(--first-color);
		left: var(--line-position, 0);
		transition: left 0.5s ease;
	}

	.large-screen-nav {
		font-size: 1rem;
		font-family: var(--secondary-alt-style);
		letter-spacing: 2px;
		cursor: pointer;
		justify-self: center;
		transition: color 0.2s 0.3s ease-in-out;
	}

	.large-screen-nav.nav-current {
		position: relative;
		font-weight: var(--font-semi-bold);
		color: var(--first-color);
	}

	.product {
		display: none;
	}

	.large-screen-product {
		display: block;
	}

	.product-details-cont {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.product__image {
		padding-inline: 5rem;
	}

	.first-image {
		width: 28rem;
		left: 50%;
		right: 50%;
		transform: translateX(-50%);
	}

	.second-image {
		top: 5rem;
		right: 3rem;
		width: 14rem;
	}

	.POS-second-image {
		top: 8.5rem !important;
		width: 20rem !important;
		right: 3rem !important;
	}

	.pricing {
		padding-inline: 3rem;
	}

	.pricing__wrapper {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
	}

	.single-price:nth-child(2) {
		transform: scale(1.05);
	}

	.extra__info p:nth-child(2) {
		width: 70%;
		margin-inline: auto;
	}
}

/* For 2K resolutions (2048 x 1152) */

/* For taller devices */
